
.projects{
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 81px;
}
.projectTextHeader {
  margin: 0 auto;
  height: 91px;
}
.projectTextHeader h1{
  width: 300px;
  font-family: Raleway;
  color:  #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 24px;
  margin: 0 auto;
  
}
.projectTextHeader p{
  width: 757px;
  font-family: Montserrat;
  color:  #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin-bottom: 24px;
  
}
.projects ul{
  height: 40px;
  margin:0 auto;
  /* margin-left:300px;
  margin-right: 370px; */
  display:flex;
  flex-direction: row;
  /* padding:0 400px; */
  justify-content: space-between;
  margin-top:40px;
  margin-bottom: 20px;
}
.projects li{
  margin-left: 10px;
}

.projectButton{
  border-radius: 3px;
  background-color: #ffffff;
  width: 90px;
  height: 32px;
  font-family: Montserrat;
  color:  #8c8c8c;;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  outline:none;
}
.projectButton:hover{
background-color:  #998675;
color:#ffffff;
}
.projectBlock{
  max-width: 1250px;
  /* margin-left: 376px;
  margin-right: 376px; */
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  flex-wrap: wrap;
  margin:0 auto;
}
.projectMenu{
  margin-bottom: 20px;
  background-color: #ffffff;
}
.projectBlock a{
  width: 33%;
  max-width: 370px;
  height: 337px;
  display:flex;
  flex-direction:column;
  margin-bottom: 20px;
 
}
.projectText:hover{
  background-color:#332b29;
}
a{
  text-decoration: none;
}

.projectImage{
  width: 100%;
  max-width: 370px;
  height: 237px;
  background-image: url(img/project.png);
}
.projectImage:hover{
  opacity:0.7;
}
.projectText{
  width: 100%;
  max-width: 370px;
  height: 100px; 
  background-color: #fbfaf8;
}

.projectText h1{
  font-family: Raleway;
  color:  #c7b29a;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0 auto;
  padding-top: 20px;
  margin-left: 20px;
  box-sizing: border-box;
}
  .projectText h2{
  font-family: Montserrat;
  color:  #d1d1d1;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 20px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}
.loadButton{
  border-radius: 3px;
  background-color:  #998675;
  width: 170px;
  height: 50px; 
  font-family: Raleway;
  color:  #ffffff;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 23px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin: 0 auto;
}
.loadButtonBox{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 80px;
}
.loadButton:hover{
  color:  #b1abab;
  border-color:#b1abab;
}