
.realization{
  background-color: #fbfaf8;;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.realizationText h1{
  font-family: Raleway;
  color:  #555555;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 83px;
  margin-bottom:20px; 
}

.realizationText h2{
  font-family: Montserrat;
  color:  #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  width: 767px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.realizationImg{
  height: 490px;
  display:flex;
  margin: 0 auto;
  /* margin-left: 350px;
  margin-right: 350px; */
  position:relative;
  min-width: 1250px;
  
}
.realizationCenter{
  width: 770px;
  height: 482px;
  background-image: url(img/browser-center.png);
  position: absolute;
  margin: 0 auto;
  left: 230px;
  z-index:1;
  bottom: 0px;
}
.realizationLeft{
  display:flex;
  width: 770px;
  height: 400px;
  background-image: url(img/browser-right.png);
  position:absolute;
  left: 460px;
  bottom: 0px;
  
}
.realizationRight{
  width: 770px;
  height: 400px;
  background-image: url(img/browser-left.png);
  position:absolute;
  /* left:-100px; */
  bottom: 0px;
}

.purchase{
  /* display:flex;
  flex-direction: row; */
  height: 150px;
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  /* justify-content: space-between; */
  /* padding: 0 370px; */
}
.purchaseBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin:0 auto;
}
.purchaseText{
  width: 530px;
  height: 55px;
  display:flex;
  flex-direction: column;
  margin-top: 48px;
}
 .purchaseText h1{
  font-family: Raleway;
  color:  #ffffff;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
}
.purchaseText h1 span{
  color:  #c7b299;
}
.purchaseText h2{
  font-family: Montserrat;
  color:  #615855;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}

.purcaseButton{
  border-radius: 3px;
  background-color:  #998675;
  width: 170px;
  height: 50px;
  font-family: Raleway;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  margin-top: 50px;
  outline: none;
  border:2px solid transparent;
}
.purcaseButton:hover{
  color:  #b1abab;
  border-color:#b1abab; 
}