body{
    background: #f8f8f8;
}
.header{
    background:aquamarine;
    border-bottom: 2px solid orange;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.img{
    display: flex;
    margin: 0 auto;
    padding: 20px;
  }
.catalog{
    display: flex;
    margin: 0 auto;
}
.container{
    text-align: center;
}
.mainBlock{
    display: flex;
}
.product{
  display: flex;
  flex-direction: row;
  width: 510px;
}

.characteristicBlocks{
    display:flex;
    clear:both;
    
}
.description{
    color:black;
    font-style: bold;
    font-size: 18px;
    background:  #eaeaea;
}
.shortDescription{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.detailedDescription{
    color:  #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.characteristics{
    font-size: 16px;
}
.detailedCharacteristics{
    font-style: italic;
    list-style-type: square;
}
.click{
    width: 60px;
    height: 30px;
    background-color: #808080;
}
.click:hover{
    background-color:blue;
    color:red;
}
.user{
    color: blue;
    border-width: 2px;
    width: 300px;
    font-size: 15px;
    text-transform: capitalize;
}
.email:active{
    color:red;
    background-color: aquamarine;
}
.message{
    width: 300px;
    height: 150px;
    resize: none; 
}
.tables {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    border-collapse: collapse;
    
  }
  td{
    border: 2px solid #000;
    vertical-align: middle;
    text-align: center;
  }
  .menu{
    color: blue;
    font-style: italic;
    font-size: 30px;
    text-align: bottom; 
    margin: 20px;
}
.menu:hover{
    color:red; 
}
  .footer{
    background:aquamarine;
    border-top: 2px solid black;
    clear: both;
    width: 1880px;
    height: 100px;
    text-align: right;
  }
 .footer p{
    margin-right: 50px;
    margin-top: 50px;
}