*{
    margin:0;
    padding:0;
}
.container{
    width: 1280px;
    height: 3186px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: green;
    
}
.header{
    width: 1280px;
    height: 323px;
    background-color: #445162;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.imageHeader{
    width: 469px;
    height: 214px;
    float: right;
    margin-top:50px;
    margin-right: 50px;   
    background-color: #ffffff;
}

.subheader{
    width: 470px;
    height: 222px;
    margin-top:50px;
    margin-left:50px;
    display:block;
}
h1 {
    font-family: Arial;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.subheader ul {
    margin-top:16px;
    margin-left:31px;
}
.subheader li{
    font-family: Arial;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-image: url(img/check_icon.png);
}
.content{
    width: 1280px;
    height: 2354px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.about{
    width: 1280px;
    height: 345px;
    background-color: #ffffff;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.imageContent1{
    width: 430px;
    height: 245px;
    float: right;
    margin-top:50px;
    margin-right: 50px;  
    background-color: #445161;
}
h2{
    font-family: Arial;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom:30px;
}
.subcontent1 p{
    font-family: Arial;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom:20px;
}
.subcontent1{
    width: 663px;
    height: 200px;
    margin-top:50px;
    margin-left:50px;
    display:block;
}

/*
.scrinshotsMessage{
    width: 1280px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.scrinshotsMessage ul{
    width: 500px;
}
.scrinshotsMessage li{
    width: 600px;
    font-family: Arial;
    color:  #333333;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-image: url(img/image.png);
    margin-bottom: 25px;
    margin-top:-10px;
    margin-right: 50px;
}*/



.footer{
    width: 1280px;
    height: 509px;
    background-color: blue;
}