.Header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.header_sub_item{
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  margin:0;
}
.step_number{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  background-color: #eee;
  margin-right: 10px;
}
.step_active{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  margin-right: 10px;
  background-color: red;
}